{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<div class="home">
    <h1>Analyze</h1>
    <p>This is the analysis page, where inspection work will actually be done.</p>
    <p>Essentially, during an inspection procedure, you'll get an image of some section of the plane on this page.</p>
    <p>Each image, which has been stitched together and run through a computer vision algoirthm, will have visual indicators of possible structural damage.</p>
    <p>The user of this application will be able to "APPROVE" or "DENY" each section of the plane.</p>
    <p>If a plane segment is denied, a reason will be provided, and further inspection can occur, or the plane can be grounded for repairs.</p>
</div>
<div class="home">
    <h3>Open Inspections</h3>
    <table id="inspection_table" class="cell-border compact stripe">
        <thead>
            <tr>
                <th>Inspection ID</th>
                <th>Date Created</th>
                <th>Deadline</th>
                <th>Aircraft ID</th>
                <th>Imaging Time</th>
                <th>Approval Status</th>
                <th>AI Confidence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>4/6/2020</td>
                <td>4/6/2020 11:59 PM</td>
                <td>747-AAL-32</td>
                <td>4/6/2020 4:27 PM</td>
                <td>PENDING</td>
                <td>89%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>4/6/2020</td>
                <td>4/9/2020 11:59 PM</td>
                <td>767-AAL-31</td>
                <td>4/7/2020 4:27 PM</td>
                <td>PENDING</td>
                <td>91%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4/2/2020</td>
                <td>4/6/2020 11:59 PM</td>
                <td>A320-DAL-66</td>
                <td>4/9/2020 4:27 PM</td>
                <td>APPROVED</td>
                <td>99%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>4/12/2020</td>
                <td>4/13/2020 11:59 PM</td>
                <td>A380-SW-1</td>
                <td>4/11/2020 3:27 PM</td>
                <td>REJECTED</td>
                <td>70%</td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endblock %}